/* author hardc0d3 */


/* general div */

div.air_inside {
    padding: 9px;
}

div.round_box {
    border-style: dotted;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
}

div.min_width_400px{
    min-width: 400px;
}


div.margin_left_10px {
   margin-left: 10px;
}

div.border_left_1px {

    border-left-style: solid;
    border-left-width: 1px;
    border-color: gray;
}

div.border_right_1px {

    border-right-style: solid;
    border-right-size: 1px;
    border-color: gray;
}

.font_khand {
    font-family: 'Khand', sans-serif;
}

.font_light{
 font-weight: border;
}


div.debug {
    border-style: solid;
    border-size: 1px;
    border-color: black;
}
div.red {
    background-color: red;
}

div.green {
    background-color: green;
}

div.float_left {
float: left;
}

div.float_right {
    float: right;
}

div.w99 {
    width: 99%;
}

div.w100 {
    width: 100%;
}

div.red_color {
    background-color: red;
}

div.h6px {
    height: 6px;
}

div.box_shadow_a {
    /* box-shadow: 1px 1px 2px #979797; */
    /* -webkit-box-shadow: 0px 0px 8px -3px rgba(112,108,112,1); */
    /* -moz-box-shadow: 0px 0px 8px -3px rgba(112,108,112,1); */
    box-shadow: 0px 1px 8px -3px rgba(112,108,112,1);
}

div.box_shadow_dis {
    /* box-shadow: 1px 1px 2px #979797; */
    -webkit-box-shadow: 0px 0px 8px -3px rgba(112,108,112,1);
    -moz-box-shadow: 0px 0px 8px -3px rgba(112,108,112,1);
    box-shadow: 0px 0px 8px -3px rgba(112,108,112,1);
}
  

body {
    margin: 0px;
    padding: 0bx;
    background-color: #EEEEEE;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   /* opacity: 0.5;
    filter: alpha(opacity=50); *//* For IE8 and earlier */
}

div.header{
    width: 100%;
    height: 76px;
    background-color: white;
    /* box-shadow: 2px 2px 4px #bbbbbb; */
    border-style: solid;
    border-color: #dfdfdf;
    border-width: 1px;
    background-image: url("imgs/mesh.jpg");
    background-position: 10px;
}

div.outer-content {

    width: 100%;
    text-align: center;
    margin-top: 10px;

}

div.color_gray{
color: #606060;
}

div.bold{
    font-weight: bold;
}


div.inner-content {

    display: table;
    /*width: 79%;*/
    max-width: 1000px;
    min-width: 300px;
    
    margin: 0 auto;
    border-style: solid;
    border-color: #dfdfdf;
    border-width: 1px;
    /* border-radius: 3px; */
    /* box-shadow: 1px 1px 6px #979797; */
    background-color: #ffffff;
    padding: 10px;

    font-family: 'Open Sans', sans-serif;
    font-weight: light;
    text-align: justify;
    /*max-width: 1024px; */
}

a.color_orange {

background-color #FFB266;
}



div.listing-item-box {
    background-color: white;
    width: 100%;
    /* height: 150px; */
    float: left;

}
div.listing-item-separtor {
    background-color: #dfdfdf;
    width: 100%;
    float: left;
    height: 1px;
}



/* item listing */

div.item-item {
    /* height: 190px; */
    padding: 10px;
    width: 98%;
    float: left;

}
div.item-image-hold {
    /* background-color: rgb(117, 117, 117); */
    min-width: 110px;
    height: 100px;

}
div.item-image {
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

div.item-content {
    /* background-color: mediumseagreen; */
    /* height: 140px; */
    width: 82%;
}


p.align_left{
    text-align: left;
}

/* test vis.js */
 #mynetwork {
      /*height: 466px;*/
      height:436px;
       width: 1000px;
       
    }