div.avatar{
    border-style: none 1px lightgray;
    border-radius: 69px;
    width: 79px;
    height: 79px;
    margin-right: 12px;
    

    background-image: url('/api/v1/profile?q=avatar');
    background-position: center;
}


a.skill_box:hover {
   
      background-color:#ff9900;


    border-width: 1px;
      border-radius:16px;
      color:  #ffffff;

    background-color:#ff9900;
    text-decoration: none;

}



a.skill_box {
    font-family: 'Open Sans';
     color:  #ff9900;

    border-color:   #ff9900;
    border-style: solid;
    background-color:#fbfbfb;
    display: inline-block;
    /*font-size: 1px;*/

    border-style: solid;
    border-color:  #ff9900;
    border-width: 1px;

    border-radius:16px;


  
    float: left;
    margin-left: 6px;
    margin-bottom: 6px;
    padding-top: 4px;
    padding-bottom: 4px; 
    padding-left: 6px;
    padding-right: 6px; 

    text-decoration: none;


}

