
/* */

div.outer-content-topnav {

    width: 100%;
    text-align: center;
    height: 39px;

    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}

div.inner-content-topnav {

    margin-top 10px;
    display: table;
    min-width: 400px;
    margin: 0 auto;
    /*float: right;*/
    /*background-color: pink;*/

}

div.top_nav_menu_group {

    float: left;
    padding-left: 10px;

}

/* links  */


a.round-button {
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
}

a.round-button:hover {
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    background-color: green;
    color: white;
}



a.topnav {

    font-family: 'Khand', sans-serif;
    font-size: 18px;

    color: gray;
    height: 27px;

    border-color: green;
    text-decoration: none;
    padding: 5px;

}

a.topnav:hover {
    color: green;
    /* background-color: green;
    color: white; */
    border-bottom-color: green;
    border-bottom-style: solid;
}



a.topnav-button {

    font-family: 'Khand', sans-serif;
    font-size: 18px;

    border-style: solid;
    border-radius: 4px;
    border-width: 1px;

    color: gray;
    /*height: 24px;*/

    border-color: green;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;

}

a.topnav-button:hover {
    color: white;
    background-color: green;
}



a.topnav-button-orange {

    font-family: 'Khand', sans-serif;
    font-size: 18px;

    border-style: solid;
    border-radius: 4px;
    border-width: 1px;

    color: gray;
    /*height: 24px;*/

    border-color: orange;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;

}

a.topnav-button-orange:hover {
    color: white;
    background-color: orange;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
}
