section.gigs-page-content,
section.jobs-page-content,
section.profiles-page-content

    .container
        padding-top: 150px

        // FILTERS --- LEFT
        .filters

            .filter
                margin-bottom: 20px

                p
                    font-family: 'Roboto', sans-serif
                    font-size: 16px
                    font-weight: 700
                    line-height: 1.29
                    color: #4a4a4a
                    margin: 0
                    margin-bottom: 5px

                label.mdl-checkbox
                    margin-left: 15px


        // GIGS --- RIGHT
        .gigs

            .gigs-container

                .gig
                    width: 230px
                    border: 1px solid #e5e5e5
                    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1)
                    background-color: white

                    img
                        width: 100%

                    h5
                        margin: 0
                        margin-top: 10px
                        margin-left: 10px
                        margin-bottom: 5px

                    h5
                        font-size: 14px
                        color: #86939e

                    p
                        font-size: 16px
                        color: black
                        line-height: 1.71
                        padding: 0 10px

                    .footer
                        border-top: 1px solid #e5e5e5

                        h4
                            text-align: right
                            font-size: 15px
                            color: black
                            margin-right: 5px

                            span
                                font-size: 17px
