section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group {
  margin-bottom: 0;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel {
  border: none;
  box-shadow: none;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading {
  background-color: white;
  border: none;
  padding: 0;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout {
  margin-top: 24px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #e1e8ee;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .main-information, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .main-information, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .main-information,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .main-information,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .main-information,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .main-information {
  padding-right: 0;
  padding-left: 0;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .main-information img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .main-information img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .main-information img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .main-information img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .main-information img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .main-information img {
  height: 60px;
  width: 60px;
  margin-left: 20px;
  margin-right: 17px;
  float: left;
  border-radius: 3px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .main-information .position-information h4, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .main-information .position-information h4, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .main-information .position-information h4,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .main-information .position-information h4,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .main-information .position-information h4,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .main-information .position-information h4 {
  font-size: 18px;
  line-height: 1.09;
  font-weight: 500;
  color: #43484d;
  margin-top: 0;
  margin-bottom: 7px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .main-information .position-information h5, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .main-information .position-information h5, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .main-information .position-information h5,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .main-information .position-information h5,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .main-information .position-information h5,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .main-information .position-information h5 {
  font-size: 14px;
  line-height: 1;
  color: #86939e;
  margin-top: 0;
  margin-bottom: 9px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .main-information .position-information p, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .main-information .position-information p, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .main-information .position-information p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .main-information .position-information p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .main-information .position-information p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .main-information .position-information p {
  font-size: 12px;
  line-height: 1.17;
  color: #86939e;
  margin-top: 0;
  margin-bottom: 0;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .job-description, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .story-description, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .shoutout-description, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .job-description, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .story-description, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .shoutout-description, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .job-description, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .story-description, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .shoutout-description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .job-description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .story-description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .shoutout-description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .job-description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .story-description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .shoutout-description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .job-description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .story-description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .shoutout-description {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 25px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .job-description .more img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .story-description .more img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .shoutout-description .more img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .job-description .more img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .story-description .more img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .shoutout-description .more img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .job-description .more img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .story-description .more img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .shoutout-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .job-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .story-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .shoutout-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .job-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .story-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .shoutout-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .job-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .story-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .shoutout-description .more img {
  float: right;
  margin-right: 40px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .job-description p, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .story-description p, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .shoutout-description p, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .job-description p, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .story-description p, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .shoutout-description p, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .job-description p, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .story-description p, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .shoutout-description p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .job-description p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .story-description p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .shoutout-description p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .job-description p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .story-description p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .shoutout-description p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .job-description p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .story-description p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .shoutout-description p {
  font-size: 14px;
  color: #86939e;
  line-height: 1.71;
  margin-left: 17px;
  margin-right: 45px;
  margin-bottom: 15px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .job-description span, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .story-description span, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .shoutout-description span, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .job-description span, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .story-description span, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .shoutout-description span, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .job-description span, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .story-description span, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .shoutout-description span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .job-description span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .story-description span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .shoutout-description span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .job-description span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .story-description span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .shoutout-description span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .job-description span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .story-description span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .shoutout-description span {
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  padding: 7px 14px;
  margin-left: 17px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .job-description span.accomplishment, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .story-description span.accomplishment, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .shoutout-description span.accomplishment, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .job-description span.accomplishment, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .story-description span.accomplishment, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .shoutout-description span.accomplishment, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .job-description span.accomplishment, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .story-description span.accomplishment, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .shoutout-description span.accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .job-description span.accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .story-description span.accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .shoutout-description span.accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .job-description span.accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .story-description span.accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .shoutout-description span.accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .job-description span.accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .story-description span.accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .shoutout-description span.accomplishment {
  background-color: rgba(254, 178, 48, 0.13);
  color: #d1a252;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .job-description span.shoutout, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .story-description span.shoutout, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .shoutout-description span.shoutout, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .job-description span.shoutout, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .story-description span.shoutout, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .shoutout-description span.shoutout, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .job-description span.shoutout, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .story-description span.shoutout, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .shoutout-description span.shoutout,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .job-description span.shoutout,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .story-description span.shoutout,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .shoutout-description span.shoutout,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .job-description span.shoutout,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .story-description span.shoutout,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .shoutout-description span.shoutout,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .job-description span.shoutout,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .story-description span.shoutout,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .shoutout-description span.shoutout {
  background-color: #edf3fa;
  color: #86b1e3;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .job .job-description .more img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .story .job-description .more img, section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-heading .shoutout .job-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .job .job-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .story .job-description .more img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-heading .shoutout .job-description .more img {
  margin-right: 30px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse {
  padding-right: 0;
  padding-left: 0;
  background-color: #f0f4f7;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body::-webkit-scrollbar,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body::-webkit-scrollbar {
  display: none;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body {
  height: 992px;
  background-color: #f0f4f7;
  position: relative;
  padding: 0;
  overflow-x: hidden;
  border-top: none;
  /* Opera Mobile */
  background: -o-linear-gradient(left, #cdcfda 1px, #f0f4f7 1px);
  /* Firefox for Android */
  background: -moz-linear-gradient(left, #cdcfda 1px, #f0f4f7 1px);
  /* WebKit browsers */
  background: -webkit-linear-gradient(left, #cdcfda 1px, #f0f4f7 1px);
  /* new syntax: IE10, Firefox, Opera */
  background: linear-gradient(90deg, #cdcfda 1px, #f0f4f7 1px);
  background-position: 100% 0;
  background-repeat: repeat-y;
  background-size: 97.3%;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment.image .description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment.image .description {
  margin: 30px 0 0 0;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment.image .description img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment.image .description img {
  max-width: 100%;
  max-height: 100%;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out {
  margin-top: 30px;
  margin-bottom: 30px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment {
  margin-left: 41px;
  margin-right: 20px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment header,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment header {
  padding-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment header .bullet-point,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment header .bullet-point {
  width: 15px;
  height: 15px;
  background-color: white;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ccd3da;
  border-radius: 100%;
  position: absolute;
  left: 13px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment header span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment header span {
  font-size: 14px;
  color: #86939e;
  line-height: 1;
  margin-left: 5px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment header img.date,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment header img.date {
  margin-top: -5px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment header img.more,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment header img.more {
  float: right;
  margin-top: -5px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment header h2,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment header h2 {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.31;
  color: #43484d;
  margin-top: 25px;
  margin-bottom: 20px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment .description,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment .description {
  margin: 0 30px 10px 30px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment .description p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment .description p {
  margin-top: 0;
  color: #86939e;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 20px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment footer,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment footer {
  border-top: 1px solid #ebf0f5;
  margin-left: 5px;
  margin-right: 5px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment footer ul,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment footer ul {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment footer ul li span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment footer ul li span {
  font-size: 14px;
  line-height: 1;
  color: #86939e;
  margin-left: 10px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .accomplishment footer ul li img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .accomplishment footer ul li img {
  margin-top: -4px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out {
  margin-left: 41px;
  margin-right: 20px;
  background-color: #5babce;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out header,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out header {
  padding-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out header .bullet-point,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out header .bullet-point {
  width: 15px;
  height: 15px;
  background-color: white;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ccd3da;
  border-radius: 100%;
  position: absolute;
  left: 13px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out header img.more,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out header img.more {
  float: right;
  margin-top: -20px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out header span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out header span {
  font-size: 14px;
  line-height: 1;
  color: white;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out header span.date,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out header span.date {
  opacity: 0.5;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out .qoute,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out .qoute {
  text-align: center;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out .qoute img.qoute-picture,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out .qoute img.qoute-picture {
  display: block;
  margin: 0 auto;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out .qoute h2,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out .qoute h2 {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.31;
  color: white;
  text-align: center;
  margin: 25px 25px 30px 25px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .line,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .line {
  height: 1px;
  background-color: #e1e8ee;
  width: 46px;
  margin: 0 auto 30px auto;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .author-information,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .author-information {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
  border-bottom: 1px solid #ebf0f5;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .author-information img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .author-information img {
  height: 40px;
  width: 40px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  display: inline-block;
  margin-top: -20px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .author-information .author-details,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .author-information .author-details {
  display: inline-block;
  margin-left: 15px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .author-information .author-details h5,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .author-information .author-details h5 {
  margin-top: 0;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: white;
  text-align: left;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .author-information .author-details p,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out .qoute .author-information .author-details p {
  font-size: 14px;
  color: white;
  line-height: 1;
  margin-top: 0;
  text-align: left;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out footer ul,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out footer ul {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out footer ul li span,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out footer ul li span {
  font-size: 14px;
  line-height: 1;
  color: white;
  margin-left: 10px;
}

section.documentation .container .profile-documentation-full .profile-documentation .tab-content #jobs .panel-group .panel .panel-collapse .panel-body .shout-out footer ul li img,
section.documentation .container .profile-documentation-full .profile-documentation .tab-content #stories .panel-group .panel .panel-collapse .panel-body .shout-out footer ul li img {
  margin-top: -4px;
}
