@import "header"
@import "dropdowns"
@import "profile-information"
@import "profile-documentation-tabs"
@import "panel-heading"
@import "panel-body"
@import "background-image"


@import "newstyles/sliders"

// Gigs page content styles
@import "pages/gigs"

// IMPORTING NEW STYLES FOR MODALS
@import "newstyles/modals"

// Responsiveness
@import "responsive/screen-medium"
@import "responsive/screen-small"
@import "responsive/screen-mobile"


*
    font-family: 'Roboto', sans-serif
    -webkit-overflow-scrolling: touch

// For bootstrap modals - TURN ON IF NEEDED
// html
//     overflow: hidden
//     height: 100%

body
    background-color: #f2f2f2
    -webkit-overflow-scrolling: touch
    overflow: auto
    height: 100%

    &.up
        margin-top: -59px

    &.modal-open
        overflow: auto


body header.main-header
    position: fixed
    width: 100%
    background-color: white
    z-index: 20
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1)




.panel-collapse
    padding-right: 0
    padding-left: 0
    background-color: #e7ecef



.tab-content
    padding-right: 0
    padding-left: 0

    .tab-pane
        padding-right: 0
        padding-left: 0


.owl-wrapper
    margin-top: 0 !important


.navbar-toggle
    margin-top: 15px

.btn-flat
    color: white
    background-color: #8BC34A
    border-radius: 5px

    &:hover
        color: #f5f5f5

.btn-flat.dtp-btn-ok
    margin-left: 5px



// Search bar editions.
.navbar-header
    .mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder .mdl-textfield__label,
    .mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder .mdl-textfield__label,
    .mdl-textfield--floating-label.has-placeholder .mdl-textfield__expandable-holder .mdl-textfield__label
        top: -16px


.mdl-textfield.is-dirty .mdl-textfield__label,
.mdl-textfield.is-focused .mdl-textfield__label,
.mdl-textfield.has-placeholder .mdl-textfield__label
    margin-bottom: 0 !important

.mdl-textfield.is-dirty .mdl-textfield__label,
.mdl-textfield.is-focused .mdl-textfield__label,
    color: rgba(0,0,0,.46) !important


.mdl-textfield__label:after
  background-color: #ffb230 !important


.mdl-textfield

    &.left-side .selection
        float: left !important

    &.right-side .selection
        float: right !important



// Job and education description changes
section.documentation .container

    .content-block
        .main-description

            p
                margin-right: 55px !important

            button.dropdown-button
                float: right
                margin-right: 10px
                width: 40px
                height: 40px

                i
                    color: #c1c1c1
                    font-size: 30px
                    line-height: 30px
                    width: 30px
                    transform: translate(-15px, -15px)






// .tick-animation-ctn
//   text-align: center
//   margin-top: 5em

// @-webkit-keyframes checkmark
//   0%
//     stroke-dashoffset: 100px

//   100%
//     stroke-dashoffset: 200px


// @-ms-keyframes checkmark
//   0%
//     stroke-dashoffset: 100px

//   100%
//     stroke-dashoffset: 200px


// @keyframes checkmark
//   0%
//     stroke-dashoffset: 100px

//   100%
//     stroke-dashoffset: 0px


// @-webkit-keyframes checkmark-circle
//   0%
//     stroke-dashoffset: 480px

//   100%
//     stroke-dashoffset: 960px


// @-ms-keyframes checkmark-circle
//   0%
//     stroke-dashoffset: 240px

//   100%
//     stroke-dashoffset: 480px


// @keyframes checkmark-circle
//   0%
//     stroke-dashoffset: 480px

//   100%
//     stroke-dashoffset: 960px


// @keyframes colored-circle
//   0%
//     opacity: 0

//   100%
//     opacity: 100

// .inlinesvg .svg svg
//   display: inline

// .icon--order-success svg
//   polyline
//     -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards
//     animation: checkmark 0.25s ease-in-out 0.7s backwards
//   circle
//     -webkit-animation: checkmark-circle 0.6s ease-in-out backwards
//     animation: checkmark-circle 0.6s ease-in-out backwards
//     &#colored
//       -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards
//       animation: colored-circle 0.6s ease-in-out 0.7s backwards




