.modal#storyModal,
.modal#jobModal,
.modal#educationModal,
.modal#shoutoutModal,
.modal#avatarModal,
.modal#inviteModal

    .modal-lg
        width: 750px

        .modal-content
            padding: 0

            .modal-header
                padding: 0
                border-bottom: 1px solid #e6e7e9

                h3
                    font-size: 18px
                    color: #8a8d92
                    margin: 20px 0 20px 20px
                    font-weight: 400

                h3.avatar-h3
                    float: left

                .avatar-message
                    float: left
                    margin-left: 15px
                    margin-top: 11px
                    display: inline-block
                    padding: 10px
                    padding-right: 30px

                    i
                        color: #2185D0

                button.close
                    margin-top: 10px
                    margin-right: 25px

                    span
                        font-size: 40px


            .modal-footer
                border: none
                background-color: #f0f4f7
                border-bottom-left-radius: 6px
                border-bottom-right-radius: 6px

                button
                    font-size: 16px
                    border-radius: 8px
                    width: 150px

                button.save-draft,
                button.close-modal,
                button.close-avatar-modal
                    border: 2px solid #e2e7eb
                    color: #8b949d
                    background-color: transparent

                    &:hover,
                    &:active,
                    &:focus
                        background-color: #eaeef1

                button.publish,
                button.new-post
                    background-color: #76c84a
                    color: #f7fff1
                    border: 2px solid #76c84a

                    &:hover,
                    &:focus,
                    &:active
                        background-color: #6fba46
                        border: 2px solid #6fba46

                button.close-modal
                    display: none

.modal#inviteModal .modal-dialog .modal-content .modal-footer button.close-modal
    display: initial