.educations .education .education-description .dropdown.more img
    margin-right: 25px

.panel-group
    margin: 0

    .panel
        border: none
        box-shadow: none
        padding: 0

        .panel-heading
            padding: 0
            background-color: white

.see-less
    display: none

.see-more, .see-less
    background-image: linear-gradient(to bottom, rgba(237, 243, 250, 0), #edf3fa)
    cursor: pointer

    &:hover,
    &:active,
    &:focus
        background-image: linear-gradient(to bottom, rgba(237, 243, 250, 0), #e8eef5)

    p
        font-size: 12px
        text-align: center
        font-weight: bold
        color: #86939e
        line-height: 40px
        margin-bottom: 0
        text-transform: uppercase

.job, .story, .education
    cursor: pointer


.job, .story, .shoutout, .education
    padding-top: 24px
    padding-left: 0
    padding-right: 0
    border-bottom: 1px solid #e1e8ee

    .main-information
        padding-right: 0
        padding-left: 0
        padding-bottom: 25px

        .image

            img, .dont-have-logo
                height: 60px
                width: 60px
                margin-left: 20px
                margin-right: 17px
                float: left
                border-radius: 3px

            .dont-have-logo
                color: #0065cc
                font-size: 24px
                font-weight: 500
                text-align: center
                line-height: 60px
                border: 1px solid #0065cc
                display: none

        img.story-image
            margin-left: 25px

        img.shoutout-image
            border-radius: 100%

        .position-information
            margin-left: 100px
            word-wrap: break-word

            h4
                font-size: 18px
                line-height: 1.09
                font-weight: 500
                color: #43484d
                margin-top: 0
                margin-bottom: 7px

            h5
                font-size: 14px
                line-height: 1
                color: #86939e
                margin-top: 0
                margin-bottom: 9px
                font-weight: 400

            h5.shoutout-position
                font-size: 12px
                line-height: 1.17
                color: #86939e
                margin-top: 0
                margin-bottom: 7px

            p
                font-size: 12px
                line-height: 1.17
                color: #86939e
                margin-top: 0
                margin-bottom: 0


            p.shoutout-information-related
                font-weight: 500
                margin-bottom: 5px
                text-align: left

            p.shoutout-business
                white-space: nowrap

                span
                    position: relative
                    top: -5px
                    left: 5px
                    font-size: 12px

    .job-description, .story-description, .shoutout-description, .education-description, .main-description
        padding-right: 0
        padding-left: 0
        margin-bottom: 25px

        .dropdown.more
            cursor: pointer

            i
                float: right
                margin-right: 25px
                font-size: 28px
                color: #bdc6cf
                display: none

                &:hover
                    color: #b2bcc6

            ul
                right: 15px
                top: -15px
                left: auto
                min-width: 270px
                border-radius: 0
                border: 1px solid #e1e8ee
                padding: 0
                z-index: 3000

                li
                    a
                        font-size: 16px
                        font-weight: 500
                        color: #86939e
                        line-height: 45px
                        padding: 0 25px

                        &:hover,
                        &:focus,
                        &:active
                            color: #127fff
                            background-color: #edf3fa

        h4
            font-size: 16px
            font-weight: 500
            line-height: 1.23
            color: #43484d
            margin-top: 0
            margin-right: 105px

        p.story-paragraph
            margin: 0
            margin-right: 85px
            margin-bottom: 15px

        p.education-paragraph
            margin-right: 40px
            margin-bottom: 0
            min-height: 100px

        p
            font-size: 14px
            color: #86939e
            line-height: 1.71
            margin-left: 17px
            margin-right: 45px
            margin-bottom: 15px

        p.shoutout-paragraph
            font-size: 16px
            color: #43484d
            line-height: 1.6
            margin-right: 60px
            margin-bottom: 30px
            margin-left: 20px

        p.shoutout-paragraph.date
            margin-bottom: 0
            margin-top: -20px
            font-weight: 400
            float: right
            margin-right: 40px
            color: #86939e

        span
            border-radius: 3px
            font-weight: 500
            font-size: 12px
            padding: 7px 14px
            margin-left: 17px

        span.accomplishment
            background-color: rgba(254, 178, 48, 0.13)
            color: #d1a252
            float: right
            margin-right: 30px

    .job-description .more img
        margin-right: 30px