.accomplishment.accomplishment-small

    header
        .bullet-point

        .bullet-points
            i.icon-more.dropdown-toggle(data-toggle="dropdown")

            ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                li: a(href="") Edit
                li: a(href="") Delete
                li: a(href="") Add to...

        i.icon-calendar-2
        span.accomplishment-span 15 weeks long <br />
        span.accomplishment-span.completion-date completed in January 2016

        h2 Aspire MPV Update 1 - Challenges in getting to emergent behavior

    .description.collapsed

        .accomplishment-fade

        p The company still needs your email address to authorize the transaction, so perhaps not as prive as you'd like, but says: "when combined with the right measures on your end this process is a first toward a more prive and decentralized internet"

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem qui debitis ratione officia, nam assumenda repudiandae nulla veritatis enim aliquid delectus, iure, obcaecati. Ipsa facere ut accusamus, incidunt ad cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam facere repellendus placeat sed. Id consequatur ad distinctio quas vero accusantium delectus rem dolorum, cum blanditiis consectetur molestias, commodi veniam aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsum accusamus voluptas tempore provident quisquam velit odio modi, laborum quo quaerat assumenda veniam ut obcaecati iste, delectus aliquid iusto cupiditate!

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem qui debitis ratione officia, nam assumenda repudiandae nulla veritatis enim aliquid delectus, iure, obcaecati. Ipsa facere ut accusamus, incidunt ad cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam facere repellendus placeat sed. Id consequatur ad distinctio quas vero accusantium delectus rem dolorum, cum blanditiis consectetur molestias, commodi veniam aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsum accusamus voluptas tempore provident quisquam velit odio modi, laborum quo quaerat assumenda veniam ut obcaecati iste, delectus aliquid iusto cupiditate!

    .sharing

        ul.list-inline

            li
                i.icon-like
                span Like

            li
                i.icon-chat-bubble
                span Comment

    footer.comments

        button.btn.btn-default.bth-sm.dropdown-toggle
            | 2 comments <span class="caret"></span>

        .comments-all
            .comment

                img(src="images/profilepicture.png", alt="Comment Owner")

                span Yuliya Petrova
                span.date 3:32 pm

                p Play the hits! Some of our favorite editorial features of the last few years with Miguel, Kindness, Toro y Moi, Future Islands, Lee Fields.

            .comment

                img(src="images/profilepicture.png", alt="Comment Owner")

                span Yuliya Petrova
                span.date 3:32 pm

                p I’ve seen people drop hints that they were Bitcoin’s creator seemingly to try to bring in investment money

        .write-comment

            .input-group
                input.form-control(type="text", placeholder="Write a comment")
                span.input-group-btn
                    i.icon-icon