.accomplishment.accomplishment-full

    header
        .bullet-point

        .bullet-points
            i.icon-more.dropdown-toggle(data-toggle="dropdown")

            ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                li: a(href="") Delete

        i.icon-calendar-2
        span.accomplishment-span 1 day long <br />
        span.accomplishment-span.completion-date completed in November 2016

    .description.collapsed

        .accomplishment-fade

        h2 Accomplishments in Stories are just like they are in Jobs.

        p Here are two great examples of stories you might want to create.

        p Example 1: <br /> Story title: My top designs <br />Story text: Here is some of the most popular and well-received design work I've done over the course of my career.

        p The accomplishments in this story would be his best pieces from across all of his different jobs. This story allows this user to highlight the 'best of' from his career quickly and effectively for any viewer.

        p Example 2: <br /> Story title: Examples of determination and drive <br />Story text: Here are some examples to show that I'm always pushing myself to be better even when I'm outside of the office. To me life is about challenging yourself and then stepping up.

        p The accomplishments in this story can be things you do outside the office that demonstrate the character traits that make you special. You can add accomplishments for things you've created (artwork, side-projects) or things you've done (marathons, triathlons, 5k's, 10k's, big hikes). This kind of story is about showing off some of those intangible qualities that you want people to know about. We all have them but we don't often get to show them at work, or we don't have a good way to show them on a resume. These qualities are part of what make you who you are and good at what you do.

        p These are two quick examples of how you can use stories but there are probably a million other ways you can use them. How about a resume of failures? Show your openness and humility, and communicate how you get better every time you fail. If you have a good story concept let us know and we'll share it with the community!