.accomplishment

    header
        .bullet-point

        .bullet-points
            i.material-icons.remove-accomplishment close

    .description

        p.no-accomplishments You haven't created any accomplishments for this particular job!