
.ert-display-none {
  display: none;
}

.ert-display-block {
  display: block;
}

.ert-profile-main {
   display: block;
   background: pink;
}

.ert-gigs-main {
   display: block;
   width: 100%;
   background: pink;
}

.ui.menu .blue {
    background:#92a8d1;
}

.gig-card{
    float: left;
    background:pink;
    width: 200px;
    height: 200px;
    margin:9px;

}

.profile-card{
    float: left;
    background:blue;
    width: 200px;
    height: 200px;
    margin:9px;

}

.ui.menu .gray {
    background:#gray;
}


#profile-headline{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 300px;
    background-color: pink;
    z-index: -9;
    top: 65px;
    left: 0px;
}

#profile-avatar-ctx{
    position: absolute;
    padding: 0px;
    width: 100%;
    height: 150px;

    top: -70px;
    left: 0px;
    z-index: 1;

}

#profile-avatar-img{
 width: 164px;
 height: 164px;
 border: solid 4px white;
 border-radius: 164px;
 z-index: 10;
 margin: 0 auto;
  background-color: orange;
}



#profile-left-box {
    float: left;
    margin-top: 70px;
    height: 400px;
    background:gray;
}

#profile-right-box {
    float: left;
    margin-top: 70px;
    height: 400px;
    background:blue;
}
