.main-information.col-lg-2.col-md-2.col-sm-2.col-xs-4

    .image
        img(src="images/aspire-logo.png", alt="Aspire")

.story-description.col-lg-10.col-md-10.col-sm-10.col-xs-8
    .dropdown.more
        i.icon-more.dropdown-toggle(data-toggle="dropdown")

        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li: a(href="") Delete

    h4 Use stories to change viewpoints and highlight things that matter.

    p.story-paragraph What makes Stories different is what accomplishments you choose to include under them. Click here to open the drawer and learn more.

    span.accomplishment 1 accomplishment