.main-information.col-lg-2.col-md-2.col-sm-2.col-xs-4

    .image
        img(src="images/profilepicture.png", alt="Something")

.story-description.col-lg-10.col-md-10.col-sm-10.col-xs-8
    .dropdown.more
        i.icon-more.dropdown-toggle(data-toggle="dropdown")

        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li: a(href="#", data-toggle="modal", data-target="#accomplishmentModal") Add Accomplishment
            li: a(href="") Edit

    h4 Took part in clean up operations in the St. Louis, MO area after a string of tornados

    p.story-paragraph Conceived and built a next generation professional showcare for people who want a better way to show off their skills and character.

    span.accomplishment 0 accomplishment