.modal.fade#accomplishmentModal(role="dialog", aria-labelledby="myModalLabel")
    .modal-dialog.modal-lg(role="document")
        .modal-content.col-lg-12.col-md-12.col-sm-12.col-xs-12

            .modal-header.col-lg-12.col-md-12.col-sm-12.col-xs-12
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;

                .modal-image.col-lg-2.col-md-2.col-sm-3.col-xs-12
                    img(src="images/profilepicture.png", alt="Username")

                .modal-inputs.col-lg-10.col-md-10.col-sm-9.col-xs-12
                    input.title(placeholder="Enter a title")
                    textarea.description(rows="10", placeholder="Start writing something about your career")

                .form-group.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    img.file-input-first-image(src="images/file-images-add.png", alt="Add a file")
                    input.input-file#file-input(type="file", placeholder="Add image or video")
                    label(for="file-input") Add image or video

            .modal-body.col-lg-12.col-md-12.col-sm-12.col-xs-12

                h4.publish-modal-description Woohoo, congratulations!
                h3.publish-modal-heading Your <span class="modal-name"></span> has been published!

                .selector.select-something.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .icon-image
                        i.material-icons label_outline

                    select.ui.fluid.dropdown.normal.search.skills-select(name="skills", multiple="")
                        option(value="") Add skills tags (limit: 5)...
                        option(value="angular") Angular
                        option(value="userexperience") User Experience

                .selector.select-something.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .icon-image
                        i.material-icons label_outline

                    select.ui.fluid.dropdown.search.tools-select(name="tools", multiple="")
                        option(value="") Add tools tags (limit: 5)...
                        option(value="angular") Angular
                        option(value="userexperience") User Experience

                .selector.add-duration-from.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .icon-image
                        i.icon-calendar-2

                    input#date-start0(type="text", placeholder="Date Started")

                .selector.add-duration-to.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .icon-image
                        i.icon-calendar-2

                    input#date-end0(type="text", placeholder="Date Ended (leave blank if ongoing)")

                .selector.add-team-members.col-lg-12.col-md-12.col-sm-12.col-xs-12

                    .ui.fluid.search.multiple.selection.dropdown#accomplishment-ui
                        input(type="hidden", name="country")
                        i.dropdown.icon
                        .default.text Add team members...

                        .menu

                            .ui.icon.search.input
                                .search.icon
                                input(type="text", placeholder="Search connects...")

                            .divider

                            .header: i.users.icon: span Your connections
                            .item(data-value="pauliuskasiuba123")
                                img.ui.avatar.image(src="images/profilepicture.jpg", alt="Profile")
                                span Paulius Kasiuba

                            .item(data-value="sharadvenkat145")
                                img.ui.avatar.image(src="images/profilepicture.jpg", alt="Profile")
                                span Sharad Venkat

                            .item(data-value="personone123")
                                img.ui.avatar.image(src="images/profilepicture.jpg", alt="Profile")
                                span Person One

                            .item(data-value="persontwo145")
                                img.ui.avatar.image(src="images/profilepicture.jpg", alt="Profile")
                                span Person Two

                            .item(data-value="davidguetta123")
                                img.ui.avatar.image(src="images/profilepicture.jpg", alt="Profile")
                                span David Guetta

                            .item(data-value="sharadvenkat111")
                                img.ui.avatar.image(src="images/profilepicture.jpg", alt="Profile")
                                span Sharad Venkat

                            .item(data-value="personone777")
                                img.ui.avatar.image(src="images/profilepicture.jpg", alt="Profile")
                                span Person One

                            .item(data-value="persontwo777")
                                img.ui.avatar.image(src="images/profilepicture.jpg", alt="Profile")
                                span Person Two

                .selector.plain-reminder-text.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    p If you can’t find a team member, you’re probably not connected to them or they’re not on Aspire yet.  To connect with someone just go to their profile and click connect.  To invite someone press the big + button on your profile and select ‘Invite someone to Aspire’


            .modal-footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
                button.btn.btn-default.close-modal(type="button", data-dismiss="modal") Close
                button.btn.btn-default.save-draft(type="button") Save as Draft
                button.btn.btn-default.publish(type="button") Publish