.modal.fade#avatarModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
    .modal-dialog.modal-lg(role="document")
        .modal-content.col-lg-12.col-md-12.col-sm-12.col-xs-12

            .modal-header.col-lg-12.col-md-12.col-sm-12.col-xs-12
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;

                h3.avatar-h3 Edit your profile
                .ui.blue.message.avatar-message.hidden-xs
                    i.close.icon
                    | You can click and drag on the picture to select the part you want to be cropped!
                .ui.blue.message.avatar-message.visible-xs
                    i.close.icon
                    | You can zoom in and zoom out of the picture to make sure it's centered perfectly!

            .modal-body.col-lg-12.col-md-12.col-sm-12.col-xs-12

                h4.publish-modal-description Woohoo, congratulations.
                h3.publish-modal-heading Your profile has been updated!

                .form-group.col-lg-4.col-md-4.col-sm-4.col-xs-12
                    input.input-file#input-image-avatar(type="file", placeholder="Add profile photo")
                    label(for="input-image-avatar") Add profile photo
                    img.file-input-first-image(src="images/image-video-image-file.png", alt="Add a file")
                    img#input-image-avatar.img-responsive(src="#", alt="Preview", style="max-width: 100%")

                .modal-inputs.col-lg-8.col-md-8.col-sm-8.col-xs-12
                    input.title(text="text", placeholder="Name")
                    input.company(text="text", placeholder="Title")
                    input.state(text="text", placeholder="State")
                    input.city(text="text", placeholder="City")

                    // Country
                    .ui.fluid.search.selection.dropdown
                        input(type="hidden", name="country")
                        i.dropdown.icon
                        .default.text Select Country

                        .menu
                            .header: i.map.outline.icon: span Available countries
                            include ../countries

                    textarea.description(rows="3", placeholder="Summary")
                    p.symbols <span class="symbols-zero">0</span> / 100

            .modal-footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
                button.btn.btn-default.close-modal(type="button", data-dismiss="modal") Close
                button.btn.btn-default.close-avatar-modal(type="button", data-dismiss="modal") Close
                button.btn.btn-default.publish(type="button") Publish