.modal.fade.active#jobModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
    .modal-dialog.modal-lg(role="document")
        .modal-content.col-lg-12.col-md-12.col-sm-12.col-xs-12

            .modal-header.col-lg-12.col-md-12.col-sm-12.col-xs-12
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;

                h3 Add new job

            .modal-body.col-lg-12.col-md-12.col-sm-12.col-xs-12

                h4.publish-modal-description Woohoo, congratulations!
                h3.publish-modal-heading Your <span class="modal-name"></span> has been published!

                .form-group.col-lg-3.col-md-3.col-sm-4.col-xs-8
                    input.input-file#input-image-job(type="file", placeholder="Add image or video")
                    label(for="input-image-job") Add image or video
                    img.file-input-first-image(src="images/image-video-image-file.png", alt="Add a file")
                    img#input-image-job(src="#", alt="Preview")

                .modal-inputs.col-lg-9.col-md-9.col-sm-8.col-xs-12
                    input.title.title-symbols(type="text", placeholder="Job Title")
                    p.symbols(style="margin-bottom: 0;") <span class="symbols-zero">0</span> / 50

                    .ui.fluid.search.selection.dropdown.institution-select
                        input(type="hidden", name="job")
                        i.dropdown.icon
                        .default.text Company

                        .menu
                            .header: i.building.icon: span Available companies

                            .item(data-value="pkfrontend")
                                img.ui.avatar.image(src="images/paypal.jpg", alt="Profile")
                                span Paulius Kasiuba's Front End Development

                            .item(data-value="sharadvenkatfreelance")
                                img.ui.avatar.image(src="images/paypal.jpg", alt="Profile")
                                span Sharad Venkat's Freelancing company

                    input#date-start2(type="text", placeholder="Date Started")

                    input#date-end2(type="text", placeholder="Date Ended (leave blank if ongoing)")

                    textarea.description(rows="3", placeholder="Short Description")
                    p.symbols <span class="symbols-zero">0</span> / 200

            .modal-footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
                button.btn.btn-default.close-modal(type="button", data-dismiss="modal") Close
                button.btn.btn-default.save-draft(type="button") Save as Draft
                button.btn.btn-default.publish(type="button") Publish