.modal.fade#inviteModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
    .modal-dialog.modal-lg(role="document")
        .modal-content.col-lg-12.col-md-12.col-sm-12.col-xs-12

            .modal-header.col-lg-12.col-md-12.col-sm-12.col-xs-12
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;

                h3 Invite someone to Aspire

            .modal-body.col-lg-12.col-md-12.col-sm-12.col-xs-12

                h4.publish-modal-description Woohoo, congratulations!
                h3.publish-modal-heading Your friend has been invited!

                .modal-inputs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    input.title(text="text", placeholder="Name")
                    input.title(text="text", placeholder="Email")

            .modal-footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
                button.btn.btn-default.close-modal(type="button", data-dismiss="modal") Close
                button.btn.btn-default.publish(type="button") Send!