.modal.fade.timeline#timelineModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
    .modal-dialog.modal-lg(role="document")
        .modal-content.col-lg-12.col-md-12.col-sm-12.col-xs-12

            .modal-body.col-lg-12.col-md-12.col-sm-12.col-xs-12
                i.icon-more(data-toggle="modal", data-target="#timelineModalEdit", data-dismiss="modal")
                .visible-xs(data-dismiss="modal"): i.material-icons close

                .picture
                    img(src="images/profilepicture.png", alt="Profile")

                .post
                    h5.name Sharad Venkat
                    h5.date 1 second ago
                    h5.year-happend 2014
                    h5.company Freelancing Freelancing Freelancing Co.

                    .image
                        .button-prev: i.material-icons keyboard_arrow_left
                        .button-next: i.material-icons keyboard_arrow_right
                        .items
                            .item: img(src="http://puu.sh/uyh0h/248cb32eca.png", alt="Building")
                            .item: img(src="http://puu.sh/uyh1c/2b0d7529eb.png", alt="Building")
                            .item: img(src="http://puu.sh/uyh1r/b8a98339c7.png", alt="Building")

                    p.timeline-text Designed and built Aspire, a platform that lets you tell your professional story in a whole new way. Aspire is built on the principle that users and user experience are always #1. Designed and built Aspire, a platform that lets you tell your professional story in a whole new way. Aspire is built on the principle that users and user experience are always #1. Designed and built Aspire, a platform that lets you tell your professional story in a whole new way. Aspire is built on the principle that users and user experience are always #1. Designed and built Aspire, a platform that lets you tell your professional story in a whole new way. Aspire is built on the principle that users and user experience are always #1. Designed and built Aspire, a platform that lets you tell your professional story in a whole new way. Aspire is built on the principle that users and user experience are always #1. Designed and built Aspire, a platform that lets you tell your professional story in a whole new way. Aspire is built on the principle that users and user experience are always #1. Designed and built Aspire, a platform that lets you tell your professional story in a whole new way. Aspire is built on the principle that users and user experience are always #1. Designed and built Aspire, a platform that lets you tell your professional story in a whole new way. Aspire is built on the principle that users and user experience are always #1. Designed and built Aspire, a platform that lets you tell your professional story in a whole new way. Aspire is built on the principle that users and user experience are always #1.