.main-information.col-lg-4.col-md-5.col-sm-4.col-xs-12

    .image
        img(src="images/panda-logo.png", alt="Panda")
        .dont-have-logo PA

    .position-information
        h4 Charles Schwab Corp.
        h5 Data Migration Architect
        p 5/2015 - Present (1y 5m)

.job-description.col-lg-8.col-md-7.col-sm-8.col-xs-12
    .dropdown.more
        i.icon-more.dropdown-toggle(data-toggle="dropdown")

        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li: a(href="#") Delete

    p I worked on a major data migration project