.main-information.col-lg-4.col-md-5.col-sm-4.col-xs-12

    .image
        img(src="images/paypal.jpg", alt="Aspire")
        .dont-have-logo AS

    .position-information
        h4 Aspire
        h5 CEO & Founder
        p 2016 - Present (2y 1m)

.job-description.col-lg-8.col-md-7.col-sm-8.col-xs-12
    .dropdown.more
        i.icon-more.dropdown-toggle(data-toggle="dropdown")

        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li: a(href="#", data-toggle="modal", data-target="#accomplishmentModal") Add Accomplishment
            li: a(href="") Edit

    p Conceived and built a next generation professional showcare for people who want a better way to show off their skills and character. Conceived and built a next generation professional showcare for people who want a better way to show off their skills and character. Conceived and built a next generation professional showcare for people who want a better way to show off their skills and character. Conceived and built a next generation professional showcare for people who want a better way to show off their skills and character. Conceived and built a next generation professional showcare for people who want a better way to show off their skills and character. Conceived and built a next generation professional showcare for people who want a better.