<header class="main-header">
	<div class="container">
		<nav class="flex-block flex-between">
			<div class="navbar-header">
				<div class="button">
					<button type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" class="navbar-toggle collapsed"></button>
				</div>
				<a href="/ui" class=" hidden-xs"><img src="images/logo.png" alt="Ethearnal Logo"></a>
			</div>
			<div id="navigation" class="collapse navbar-collapse tab-info">
				<ul class="nav nav-tabs navbar-right hidden-xs relative dropdown">
					<!-- <li class="nav-item"><a href="/ui/network" class="nav-link network">Network</a></li> -->
					<li class="nav-item"><a href="/ui" class="nav-link gigs">Gigs</a></li>
					<li class="nav-item"><a href="/ui/profiles" class="nav-link profiles">Profiles</a></li>
					<li class="nav-item"><a href="" data-toggle="modal" data-target="#add-gig" class="nav-link">New Gig</a></li>
					<li id="settings-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="profile view-profile">
						<img id="avatar-img" src="" alt="" class="profile-picture">
						<i class="ti-angle-down font-size-14 mrg-left-5"></i>
						<!-- JSON DATA GOES HERE-->
					</li>
						<ul data-labelledby="settings-dropdown" class="dropdown-menu absolute">
							<li>
								<a href="/ui/profile" class="flex-block flex-center">
									<i class="ti-user pdd-right-10 font-size-18"></i>My Profile</a>
							</li>
							<li>
								<a href="" data-toggle="modal" data-target="#modal-sm" class="flex-block flex-center">
									<i class="ti-info pdd-right-10 font-size-18"></i>About Node</a>
							</li>
						</ul>
				</ul>
			</div>
		</nav>
	</div>
</header>

<div class="modal fade" id="modal-sm">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content about-head-modal">
			<div class="modal-body">
				<div class="text-center">
					<img class="img-responsive mrg-horizon-auto mrg-vertical-5" src="images/logo.png" alt="">
					<h3>Ethearnal</h3>
					<p>Version:Alpha 0.0.1</p>
				</div>
			</div>
			<button data-dismiss="modal" class="btn btn-primary btn-block no-mrg no-border pdd-vertical-15 ng-scope">
				<span class="text-uppercase">Close</span>
			</button>
		</div>
	</div>
</div>
