<div id="gigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-md">
    <div id="redesigned-modal" class="hidden">
      <div class="modal-content border-radius-6">
        <div class="modal-header pdd-horizon-30">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title flex-block flex-center">
            <div id="new-modal-owner-avatar" class="mrg-right-15"></div>
            <div>
              <span id="new-modal-owner-name">Owner Name</span>
              <br>
              <span id="new-modal-owner-title">Owner Title</span>
            </div>
          </h4>
        </div>
        <div class="modal-body border-radius-6" style="overflow: hidden;">
          <div class="pdd-horizon-30">
            <div class="row">
              <div class="ml-auto col-xs-12">
                <h3 class="font-size-24 color-blue" id="redesigned-modal-gig-title">I'll design a smart contracts for ethereum platform</h3>
              </div>
              <div class="col-xs-12 text-center mrg-vertical-10">
                <div id="redesigned-modal-gig-image" style="height: 200px;"></div>
              </div>
              <p id="redesigned-modal-description" class="col-md-12 font-size-16">Let me see your identification. You don't need to see his identification. We don't need to see his identification.
                These are not the droids.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer pdd-horizon-30">
          <div class="text-right">
            <button class="btn btn-default btn-sm no-mrg" data-dismiss="modal">
              Hold &nbsp;
              <span id="redesigned-modal-gig-price-req">0.00 </span> &nbsp;
              <i class="material-icons font-size-18" style="vertical-align: text-bottom;">polymer</i> &nbsp; Price &nbsp;
              <span id="redesigned-modal-gig-price"> 0.00 </span> &nbsp; Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="redesigned-modal" class="hidden">
  <div class="modal-content border-radius-6 redesigned-gig-modal">
    <div class="modal-header pdd-horizon-30" id="redesigned-modal-gig-image" style="height: 200px;">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body pdd-vertical-10 no-mrg">
      <div class="pdd-horizon-30">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="modal-title flex-block flex-center">
              <div id="new-modal-owner-avatar" class="mrg-right-15 pointer jsOpenGigOwnerProfile"></div>
              <div class="mrg-top-20">
                <span id="new-modal-owner-name">Owner Name</span> -
                <span id="new-modal-owner-title">Owner Title</span>
              </div>
            </h4>
            <h3 class="font-size-24 color-blue mrg-top-50 mrg-btm-10" id="redesigned-modal-gig-title">I'll design a smart contracts for ethereum platform</h3>
            <p id="redesigned-modal-description" class="font-size-16 mrg-btm-10">Let me see your identification. You don't need to see his identification. We don't need to see his identification.These are not the droids.</p>
            <p class="font-size-16 mrg-btm-10" id="redesigned-modal-gig-tags"></p>
          </div>
        </div>
        <div class="modal-footer no-pdd-horizon">
          <div class="text-right clearfix">
            <p class="pull-left font-size-14">
              Price:
              <span id="redesigned-modal-gig-price"> 0.00 </span>
              <i class="material-icons font-size-18" style="vertical-align: text-bottom;">polymer</i> &nbsp;&nbsp; Lock:
              <span id="redesigned-modal-gig-price-req">0.00 </span>
            </p>
            <button class="btn btn-default btn-sm no-mrg btn-pink" data-dismiss="modal">Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>