#add-skill.add.modal-box.flex.floating

    .modal-box-content: .inner-modal: .content

        .modal-header: h3 Add skill

        .success-message
            h1.title Congratulations!
            .success-content: p Your skill has been added.

            .buttons
                button.mdl-button.mdl-js-button.close-button.congrats-close Close the modal to see it
                span OR
                button.mdl-button.mdl-js-button.create-new Add new skill


        .modal-body

            .modal-inputs

                form#form-update-education(action="POST")
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.left-side
                        input#skill-name.mdl-textfield__input(name="skill-name", type="text")
                        label.mdl-textfield__label(for="skill-name") Skill name

                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right-side
                        select.ui.dropdown
                            option(value="") Skill Level
                            option(value="1") Beginner
                            option(value="2") Limited knowledge
                            option(value="3") Professional

                    .mdl-textfield.mdl-js-textfield.whole-line
                        textarea#description.mdl-textfield__input(type="text" rows="3", name="description")
                        label.mdl-textfield__label(for="description") Tell us more about it. Why and how did you started learning it, what's your plan for the future with this skill?

                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.left-side
                        input.date-started.mdl-textfield__input(type="text", name="startDate")
                        label.mdl-textfield__label(for="date-from") When did you start learning it?

                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.right-side
                        input.date-ended.mdl-textfield__input(type="text", name="endDate")
                        label.mdl-textfield__label(for="date-from") When did you feel like you picked it up?

        .modal-footer
            button.mdl-button.mdl-js-button.close-button Close
            button#publish3.mdl-button.mdl-js-button.finish-button(style="color: #5CAB7D") Publish
            .mdl-tooltip(data-mdl-for="publish3") This text will be changed anyway.