.modal.fade.timeline#gigModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
    .modal-dialog.modal-lg(role="document")
        .modal-content.col-xs-12

            // JSON AJAX DATA GOES HERE