.main-information.col-lg-4.col-md-5.col-sm-4.col-xs-12

    .image
        img.shoutout-image(src="images/panda-logo.png", alt="Panda")

    .position-information
        h4 Panda Bear
        h5.shoutout-position Chief Explainer at <strong>Aspire</strong>
        p.shoutout-information-related Welcome to Shout-outs!
        p.shoutout-business
            i.material-icons business
            span.related-to related to Aspire

.shoutout-description.col-lg-8.col-md-7.col-sm-8.col-xs-12

    .dropdown.more
        i.icon-more.dropdown-toggle(data-toggle="dropdown")

        ul.dropdown-menu
            li: a(href="") Delete

    p.shoutout-paragraph "This is where people get to give you props and feedback. A shout-out is like a recommendation except its meant to be short, focused and actionable (recs tend to be long and unfocused). They pick a topic and write away for up to 400 characters on anything from your amazing attention to detail, to your team-first mentality to your crazy excel analysis skills. (only connections can give shout-outs)."
    p.shoutout-paragraph.date - 1 sec ago