.main-information.col-lg-4.col-md-5.col-sm-4.col-xs-12

    .image
        img.shoutout-image(src="images/profilepicture.png", alt="Aspire")

    .position-information
        h4 Sadie Diaz
        h5.shoutout-position Manager at <strong>Aspire</strong>
        p.shoutout-information-related Work Related
        p.shoutout-business
            i.material-icons business
            span.related-to related to Aspire

.shoutout-description.col-lg-8.col-md-7.col-sm-8.col-xs-12

    .dropdown.more
        i.icon-more.dropdown-toggle(data-toggle="dropdown")

        ul.dropdown-menu
            li: a(href="") Add to...

    p.shoutout-paragraph “It was an absolute pleasure to work with Sharad. Great use of typography and excellent marksmanship. It was an absolute pleasure to work with Sharad. Great use of typography and excellent marksmanship. It was an absolute pleasure to work with Sharad. Great use of typography and excellent marksmanship. It was an absolute pleasure to work with Sharad. Great use of typography and excellent.”
    p.shoutout-paragraph.date - 2 weeks ago