.shout-out

    header
        .bullet-point

        .bullet-points
            i.icon-more.dropdown-toggle(data-toggle="dropdown")

            ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                li: a(href="") Remove

        span.shoutout-span Shoutout <strong>Work Related</strong><br />
        span.shoutout-span.date 3 days ago

    .qoute

        img.qoute-picture(src="images/qoute.png", alt="Qoute")

        h2 “Sharad truely is a great team player. He loves the outdoors and loves to socialise with his team mates! One of the nicest people I’ve had the pleasure to work with.”

        .line

        .author-information

            img(src="images/profilepicture.png", alt="Author")

            .author-details

                h5 Aaron Sananes
                p CEO & Founder, Facebook