.main-information.col-lg-4.col-md-5.col-sm-4.col-xs-12

    .image
        img(src="images/university1.jpg", alt="Aspire")

    .position-information
        h4 Bachelor in Electrical Engineering
        h5 UW Madison
        p 9/1997 - 12/2001 (4y 3m)

.education-description.col-lg-8.col-md-7.col-sm-8.col-xs-12
    .dropdown.more
        i.icon-more.dropdown-toggle(data-toggle="dropdown")

        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li: a(href="#", data-toggle="modal", data-target="#accomplishmentModal") Add Accomplishment
            li: a(href="") Edit

    p.education-paragraph(style='min-height: 85px')