.main-information.col-lg-4.col-md-5.col-sm-4.col-xs-12

    .image
        img(src="images/university.jpg", alt="Aspire")

    .position-information
        h4 Public Policy
        h5 Harvard University
        p 8/2007 - 5/2009 (1y 9m)

.education-description.col-lg-8.col-md-7.col-sm-8.col-xs-12
    .dropdown.more
        i.icon-more.dropdown-toggle(data-toggle="dropdown")

        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li: a(href="#", data-toggle="modal", data-target="#accomplishmentModal") Add Accomplishment
            li: a(href="") Edit

    p.education-paragraph Designed and built Aspire, a platform that lets you tell your professional story in a whole new way. Aspire is built on the principle that users and user experience are always #1.