.main-information.col-lg-4.col-md-5.col-sm-4.col-xs-12

    .image
        img(src="images/education.jpg", alt="Aspire")

    .position-information
        h4.study-field Public Policy
        h5.education-name Harvard University
        p.date-name 2009 - 2013

.education-description.col-lg-8.col-md-7.col-sm-8.col-xs-12
    .dropdown.more
        i.icon-more.dropdown-toggle(data-toggle="dropdown")

        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li: a(href="#", data-toggle="modal", data-target="#accomplishmentModal") Add Accomplishment
            li: a(href="") Edit

    p.education-paragraph.description Conceived and built a next generation professional showcase for people who want a better way to show off their skills and character. Aspire raises the bar to create value for people every step of the way.