doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        title Ethearnal

        // START of LINKS

        // Normalize.css
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css")

        // BootstrapCSS 3.3.7
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

        // Semantic UI CSS
        link(rel="stylesheet", href="https://cdn.rawgit.com/Semantic-Org/Semantic-UI-CSS/master/semantic.min.css")

        // Perfect Scrollbar jQuery CSS
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.12/css/perfect-scrollbar.min.css")

        // Owl Carousel CSS
        //- link(rel="stylesheet", href="https://cdn.rawgit.com/OwlFonk/OwlCarousel/master/owl-carousel/owl.carousel.css")
        link(rel="stylesheet", href="https://bbcdn.githack.com/shahzadns/owlfonk-owlcarousel/raw/31413692812896e19db89baee9be30b9d36d1e64/owl-carousel/owl.carousel.css")

        // Cropper jQuery CSS
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css")

        // Bootstrap Material Date and Time Picker
        link(rel="stylesheet", href="https://cdn.rawgit.com/T00rk/bootstrap-material-datetimepicker/gh-pages/css/bootstrap-material-datetimepicker.css")

        // Icons
        link(rel="stylesheet", href="styles/icons.css")

        // START of FONTS

        // Google Material Icons
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

        // Material Design Bootstrap
        link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")

        // Roboto
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i")

        // Montserrat
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800,900")

        // END of FONTS

        // Main CSS file
        link(rel="stylesheet", href="styles/main.css")

        // END of LINKS

    body

        include mixins/modals/new-modals/add-job
        include mixins/modals/new-modals/edit-job

        include mixins/modals/new-modals/add-education
        include mixins/modals/new-modals/edit-education




        include mixins/modals/shoutout-modal
        include mixins/modals/education-modal
        include mixins/modals/job-modal
        include mixins/modals/story-modal
        include mixins/modals/accomplishment-modal
        include mixins/modals/avatar-ui-modal
        include mixins/modals/modal-invite
        include mixins/modals/timeline-modal
        include mixins/modals/timeline-modal-edit


        // Header includes "Aspire" logo, search option, messages, alerts icons and profile image and it's name.
        // There's 2 collapse divs, one for mobile screens and another one for everything higher than mobile screens.
        header.main-header

            .container
                nav.navbar.navbar-default

                    // Navigation header - logo.
                    .navbar-header

                        .button
                            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target="#navigation", aria-expanded="false")
                                span
                                span
                                span
                                span


                        a.navbar-brand(href='').hidden-xs Ethearnal BETA

                        form(action="#" style="float: left; max-height: 62px;")
                            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label
                                label.mdl-button.mdl-js-button.mdl-button--icon(for="search-header"): i.material-icons search
                                .mdl-textfield__expandable-holder
                                    input#search-header.mdl-textfield__input(type="text")
                                    label.mdl-textfield__label(for="search-header") Enter search text below

                    // Navbar items ONLY for larger than mobile screens.
                    .collapse.navbar-collapse#navigation

                        ul.nav.navbar-nav.navbar-right.hidden-xs
                            li.asset#comment-navbar: a(href="")
                                i.icon-comment
                                .round-number: span 1


                            li.asset#alert-navbar

                                a#reputation-dropdown(data-toggle="dropdown")
                                    i.material-icons polymer
                                    .round-number: span

                                // Reputation dropdown
                                ul.dropdown-menu(data-labelledby="reputation-dropdown")
                                    li.buy-rep: a(href="") <i class="bitcoin icon"></i> Buy reputation

                                    li.sell-rep: a(href="") <i class="dollar icon"></i> Sell reputation



                            li.profile#settings-dropdown(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")

                                img.profile-picture(src="", alt="")

                                // JSON DATA GOES HERE
                                span


                            // Settings dropdown
                            ul.dropdown-menu(data-labelledby="settings-dropdown")
                                li.view-profile: a(href="") View Profile
                                    i.material-icons account_box

                                li.settings: a(href="") Settings
                                    i.material-icons settings

                                li.logout: a(href="") Logout
                                    i.material-icons power_settings_new




                        ul.nav.navbar-nav.visible-xs
                            li
                                // JSON DATA GOES HERE
                                a(href="")
                                    img.profile-picture(src="images/dobri.png", alt="Dobri")

                            li: a(href='#') Messages
                                .round-number: span 1

                            li: a(href='#') Alerts
                                .round-number: span 1

                            li.settings-mobile: a(href='#') Settings
                                i.material-icons settings

                            li.logout-mobile: a(href='#') Logout
                                i.material-icons power_settings_new


        // Background image section, including a button with lock and unlock icons.
        section.background-image
            .button-prev: i.material-icons keyboard_arrow_left
            .button-next: i.material-icons keyboard_arrow_right
            .items
                .item: img(src="images/background-road-different.png", alt="Building")
                .item: img(src="images/background-buildings.png", alt="Building")
                .item: img(src="images/background-downtown.png", alt="Building")

        // This section is for your whole profile, including left and right sides, profile information and etc.
        section.documentation

            .container

                // Profile information including profile image, current work, current city and state, skills and etc.
                .profile-information-container.col-lg-4.col-md-4.col-sm-12.col-xs-12

                    .profile-information.up

                        // Profile header, including profile image, current work, city, state and two buttons.
                        .profile-upper

                            .profile-image(data-toggle="modal", data-target="#avatarModal")
                                img(src="", alt="")
                                .text-on-image: p Change

                            //- h2 Dobri Stoilov
                            //- h5.profile-information-position Founder at <strong>Ethearnal</strong>
                            //- p Sofia, Bulgaria
                            // Now... JSON data goes here. :(

                            button.hire Hire ($50/hr)
                            button.leave-msg Send Message

                    .profile-information.middle

                        // Profile description including a description about you. (dark-gray section)
                        .profile-description
                            // JSON data goes here.

                    .profile-information.down

                        // Profile top skills and tools
                        .profile-bottom
                            p.skills-text Skills & Languages
                                //- i.material-icons keyboard_arrow_down

                            .skills
                                // JSON data goes here.

                    // Profile footer, including social media links.
                    .profile-footer
                        ul.list-inline
                            li: a(href=""): i.icon-facebook
                            li: a(href=""): i.icon-twitter
                            li: a(href=""): i.icon-r-s-s
                            li: a(href=""): i.icon-instagram
                            li: a(href=""): i.icon-google


                // Profile documentation including jobs and education, stories, shout-outs and questions with answers
                .col-lg-8.col-md-8.col-sm-12.col-xs-12.profile-documentation-full

                    .profile-documentation.col-xs-12

                        ul.nav.nav-tabs(role="tablist")
                            //- li.timeline-li(role="presentation"): a(href="#timeline", aria-controls="jobs", role="tab", data-toggle="tab") Search Work
                            li.active.jobs-li(role="presentation"): a(href="#jobs", aria-controls="jobs", role="tab", data-toggle="tab") Jobs & Education
                            li.dropdownButton
                                button#addThings.mdl-button.mdl-js-button.mdl-button--icon: i.material-icons add
                                ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="addThings")
                                    li.mdl-menu__item.open-modal(open-modal="#add-job") Add Work Experience
                                    li.mdl-menu__item.open-modal(open-modal="#add-education") Add Education
                                    li.mdl-menu__item(disabled) Add Gig


                        // All the information about above listed tabs.
                        .tab-content.col-xs-12

                            //- // Timeline TAB
                            //- .tab-pane.fade#timeline.list-block.col-xs-12(role="tabpanel")

                            //-     .timeline-post.input-timeline.col-xs-12
                            //-         include mixins/timeline/post-input

                            //-     ul
                            //-         li.swipeout
                            //-             .timeline-post.swipeout-content.item-content.col-xs-12(data-toggle="modal", data-target="#timelineModal")
                            //-                 include mixins/timeline/default-post

                            //-             .swipeout-actions-left
                            //-             .swipeout-actions-right

                            //-         li.swipeout
                            //-             .timeline-post.swipeout-content.item-content.col-xs-12(data-toggle="modal", data-target="#timelineModal")
                            //-                 include mixins/timeline/default-post

                            //-             .swipeout-actions-left
                            //-             .swipeout-actions-right



                            // Jobs & Education TAB
                            .tab-pane.fade.in.active#jobs.col-xs-12(role="tabpanel")

                                // JOBS
                                .jobs-container
                                    //- .job.life-experience.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    //-     include mixins/jobs/default-job

                                    .jobs-see.see-more.col-xs-12
                                        p + See more jobs

                                    .jobs-see.see-less.col-xs-12
                                        p - See less jobs


                                // EDUCATION
                                .education-container
                                    .educations-see.see-more.col-xs-12
                                        p + See more education

                                    .educations-see.see-less.col-xs-12
                                        p - See less education


        // jQuery 3.1.1
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

        // jQuery UI 1.21.1
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")

        // jQuery UI Monthpicker
        script(src="https://cdn.rawgit.com/lucianocosta/jquery.mtz.monthpicker/master/jquery.mtz.monthpicker.js")

        // BootstrapJS 3.3.7
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

        // Semantic UI JS
        script(src="https://cdn.rawgit.com/Semantic-Org/Semantic-UI-CSS/master/semantic.min.js")

        // Perfect Scrollbar jQuery JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.12/js/perfect-scrollbar.jquery.min.js")

        // Owl Carousel JS
        //- script(src="https://cdn.rawgit.com/OwlFonk/OwlCarousel/master/owl-carousel/owl.carousel.min.js")
        script(src="https://bbcdn.githack.com/shahzadns/owlfonk-owlcarousel/raw/31413692812896e19db89baee9be30b9d36d1e64/owl-carousel/owl.carousel.min.js")

        // Cropper jQuery JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.js")

        // Moment.JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js")

        // Bootstrap Date Time Picker
        script(src="https://cdn.rawgit.com/T00rk/bootstrap-material-datetimepicker/gh-pages/js/bootstrap-material-datetimepicker.js")

        // Framework7.JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.4.0/js/framework7.min.js")

        // Moment JS
        script(src="https://cdn.jsdelivr.net/npm/moment@2.19.1/moment.min.js")

        // Material Design Bootstrap
        script(defer src="https://code.getmdl.io/1.3.0/material.min.js")

        // Jquery Easing
        script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")

        // Main JS file
        script(src="js/main.js")