doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title Aspire

        // START of LINKS

        // Normalize.css
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css")

        // BootstrapCSS 3.3.7
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

        // Semantic UI CSS
        link(rel="stylesheet", href="https://cdn.rawgit.com/Semantic-Org/Semantic-UI-CSS/master/semantic.min.css")

        // Perfect Scrollbar jQuery CSS
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.12/css/perfect-scrollbar.min.css")

        // Owl Carousel CSS
        //- link(rel="stylesheet", href="https://cdn.rawgit.com/OwlFonk/OwlCarousel/master/owl-carousel/owl.carousel.css")
        link(rel="stylesheet", href="https://bbcdn.githack.com/shahzadns/owlfonk-owlcarousel/raw/31413692812896e19db89baee9be30b9d36d1e64/owl-carousel/owl.carousel.css")

        // Cropper jQuery CSS
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css")

        // Bootstrap Material Date and Time Picker
        link(rel="stylesheet", href="https://cdn.rawgit.com/T00rk/bootstrap-material-datetimepicker/gh-pages/css/bootstrap-material-datetimepicker.css")

        // Icons
        link(rel="stylesheet", href="styles/icons.css")

        // START of FONTS

        // Google Material Icons
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

        // Roboto
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i")

        // END of FONTS

        // Main CSS file
        link(rel="stylesheet", href="styles/main.css")

        // END of LINKS

    body

        include mixins/modals/shoutout-modal
        include mixins/modals/education-modal
        include mixins/modals/job-modal
        include mixins/modals/story-modal
        include mixins/modals/accomplishment-modal
        include mixins/modals/avatar-ui-modal
        include mixins/modals/modal-invite
        include mixins/modals/timeline-modal
        include mixins/modals/timeline-modal-edit

        // Header includes "Aspire" logo, search option, messages, alerts icons and profile image and it's name.
        // There's 2 collapse divs, one for mobile screens and another one for everything higher than mobile screens.
        header.main-header

            .container
                nav.navbar.navbar-default

                    // Navigation header - logo.
                    .navbar-header

                        .form-group.visible-xs
                            a(href=""): i.icon-search
                            input.form-control(text="text", placeholder="Search Aspire")

                        .button
                            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target="#navigation", aria-expanded="false")
                                span
                                span
                                span
                                span


                        a.navbar-brand(href='').hidden-xs
                            svg(xmlns='http://www.w3.org/2000/svg', width='101', height='24', viewbox='0 0 101 24')
                              style.
                                .a{fill:none;}
                              title Aspire
                              g.a
                                path(d='M43.1 3L40.1 3 34.1 19 36.9 19 38.4 15 44.8 15 46.2 19 49.1 19 43.1 3ZM44 12.7L39.2 12.7 41.6 5.9 41.6 5.9 44 12.7ZM55.2 17.2C53.5 17.2 52.3 16.6 52.2 15.4L49.7 15.4C49.7 18.2 52 19.3 55.1 19.3 58.5 19.3 60.3 18.1 60.3 15.7L60.3 15.7C60.3 13.2 58.8 12.4 56 12L54.9 11.9C53.3 11.7 52.5 11.3 52.5 10.4L52.5 10.4C52.5 9.7 53.2 9 55 9 56.6 9 57.4 9.4 57.5 10.5L60.1 10.5C59.9 8 58.1 7 55 7 51.7 7 50 8.2 50 10.4L50 10.5C50 12.9 51.6 13.7 54.3 14L55.5 14.2C57 14.3 57.7 14.7 57.7 15.6L57.7 15.7C57.7 16.7 56.9 17.2 55.2 17.2L55.2 17.2ZM65.1 17.3C65.7 18.3 67 19.2 69.2 19.2 72.4 19.2 74.3 17.1 74.3 13.1L74.3 13.1C74.3 9.3 72.5 7 69.2 7 67 7 65.6 8.1 65.1 9L65.1 9 65 7.3 62.5 7.3 62.5 22.9 65.1 22.9 65.1 17.3 65.1 17.3ZM65.1 12.3C65.1 10.4 66.5 9.1 68.5 9.1 70.8 9.1 71.6 10.5 71.6 13.1L71.6 13.1C71.6 15.7 70.8 17.1 68.5 17.1 66.4 17.1 65.2 15.9 65.1 14.2 65.1 13.8 65.1 13.5 65.1 13.2L65.1 12.3ZM76.5 19L79.1 19 79.1 7.3 76.5 7.3 76.5 19ZM76.5 5.5L79.2 5.5 79.2 3 76.5 3 76.5 5.5ZM81.9 19L84.5 19 84.5 13.2C84.5 10.7 85.7 9.6 88.6 9.6L88.6 7C86.2 6.9 84.9 8.2 84.6 9.4L84.5 9.4 84.5 7.3 81.9 7.3 81.9 19ZM96.4 17.1C93.5 17.1 92.4 16.2 92.3 14.1L100.8 14.1C100.9 13.6 100.9 13.1 100.9 12.5 100.9 9.3 99.5 7 95.6 7 91.7 7 89.7 9.2 89.7 13.1L89.7 13.1C89.7 17.1 91.6 19.3 96.2 19.3 97.7 19.3 99.1 19 100.3 18.5L100.3 16.4C98.9 16.9 97.7 17.1 96.4 17.1L96.4 17.1ZM95.6 9C97.7 9 98.4 10.1 98.4 12.2L92.3 12.2C92.4 10.1 93.4 9 95.6 9L95.6 9Z', fill='#5E6977')
                                path(d='M13.8 12.9C13.6 12.8 13.3 12.8 13.1 12.9L8.5 17 0.8 23.8C0.4 24.1-0.2 23.7 0.1 23.2L6 12.7 7.3 10.5 8.2 8.8C8.5 8.6 8.9 8.6 9.1 8.8L13.8 12.9ZM26.1 23.8L15.5 14.4 13.8 12.9 9.1 8.8C8.9 8.6 8.5 8.6 8.2 8.8L8.4 8.5 8.5 8.3 13 0.4C13 0.4 13 0.4 13 0.4L13 0.3C13.1 0.2 13.3 0.1 13.5 0.1 13.6 0.1 13.8 0.2 13.9 0.3L13.9 0.4C13.9 0.4 13.9 0.4 13.9 0.4L18.4 8.3 18.5 8.5 19.7 10.5 20.9 12.7 26.9 23.2C27.1 23.7 26.5 24.1 26.1 23.8Z', fill='#127FFF')
                                path(d='M13.9 12.9C13.7 12.8 13.4 12.8 13.2 12.9L8.6 17 0.8 23.8C0.4 24.1-0.2 23.7 0.1 23.2L6.1 12.6 7.3 10.5 8.3 8.8C8.5 8.6 8.9 8.6 9.2 8.8L13.9 12.9Z', style='fill-opacity:0.5;fill:#FFF;mix-blend-mode:overlay')
                                path.a(d='M26.1 23.8L15.4 14.4 13.8 12.9 9.1 8.8C8.8 8.6 8.4 8.6 8.2 8.8L8.4 8.5 8.5 8.3 12.9 0.4C12.9 0.4 13 0.4 13 0.4L13 0.3C13.1 0.2 13.3 0.1 13.4 0.1 13.6 0.1 13.8 0.2 13.9 0.3L13.9 0.4C13.9 0.4 13.9 0.4 13.9 0.4L18.4 8.3 18.5 8.5 19.6 10.5 20.9 12.7 26.9 23.2C27.1 23.7 26.5 24.1 26.1 23.8')

                    // Navbar items ONLY for larger than mobile screens.
                    .collapse.navbar-collapse#navigation

                        form.navbar-form.navbar-left
                            .form-group
                                a(href=""): i.icon-search
                                input.form-control(text="text", placeholder="Search Aspire")

                        ul.nav.navbar-nav.navbar-right.hidden-xs
                            li.asset#comment-navbar
                                a(href="")
                                    i.icon-comment
                                    .round-number
                                        span 1

                            li.asset#alert-navbar
                                a(href="")
                                    i.icon-bell
                                    .round-number
                                        span 3

                            li.profile(data-toggle="dropdown")
                                img.profile-picture(src="images/profilepicture.png", alt="Sharad")
                                span Sharad

                            ul.dropdown-menu(aria-labelledby="dLabel")
                                li.settings
                                    a(href="") Settings
                                        i.material-icons settings

                                li.logout
                                    a(href="") Logout
                                        i.material-icons power_settings_new

                        ul.nav.navbar-nav.visible-xs
                            li
                                a(href="") Sharad
                                    img.profile-picture(src="images/profilepicture.png", alt="Sharad")
                            li
                                a(href='#') Messages
                                    .round-number
                                        span 1
                            li
                                a(href='#') Alerts
                                    .round-number
                                        span 1

                            li.settings-mobile
                                a(href='#') Settings
                                    i.material-icons settings

                            li.logout-mobile
                                a(href='#') Logout
                                    i.material-icons power_settings_new


        // Background image section, including a button with lock and unlock icons.
        section.background-image
            .button-prev: i.material-icons keyboard_arrow_left
            .button-next: i.material-icons keyboard_arrow_right
            .items
                .item: img(src="images/background-road-different.png", alt="Building")
                .item: img(src="images/background-buildings.png", alt="Building")
                .item: img(src="images/background-downtown.png", alt="Building")

        // This section is for your whole profile, including left and right sides, profile information and etc.
        section.documentation

            .container

                .profile-information-fixed.col-lg-4.col-md-4.col-sm-12.col-xs-12.hidden

                // Profile information including profile image, current work, current city and state, skills and etc.
                .profile-information-before-fixed.col-lg-4.col-md-4.col-sm-12.col-xs-12

                    include mixins/profile-card



                // Profile information including profile image, current work, current city and state, skills and etc.
                .profile-information-after-fixed.col-lg-12.col-md-12.col-sm-12.col-xs-12.hidden

                    .container-fluid

                        .container.col-lg-4.col-md-4.col-sm-12.col-xs-12

                            include mixins/profile-card


                // Profile documentation including jobs and education, stories, shout-outs and questions with answers
                .col-lg-8.col-md-8.col-sm-12.col-xs-12.profile-documentation-full

                    .profile-documentation.col-lg-12.col-md-12.col-sm-12.col-xs-12

                        ul.nav.nav-tabs(role="tablist")
                            li.timeline-li(role="presentation"): a(href="#timeline", aria-controls="jobs", role="tab", data-toggle="tab") Timeline
                            li.active.jobs-li(role="presentation"): a(href="#jobs", aria-controls="jobs", role="tab", data-toggle="tab") Jobs & Education

                        .plusIcon.dropdown-toggle(data-toggle="dropdown")
                            i.material-icons add

                        ul.dropdown-menu(aria-labelledby="dLabel")
                            li.add-job: a(href="", data-toggle="modal", data-target="#jobModal") Add Job
                            li.add-education: a(href="", data-toggle="modal", data-target="#educationModal") Add Education
                            li.add-story: a(href="", data-toggle="modal", data-target="#storyModal") Add Story
                            li.divider
                            li.invite-someone: a(href="", data-toggle="modal", data-target="#inviteModal") Invite someone to Aspire

                        .shoutoutIcon(data-toggle="modal", data-target="#shoutoutModal")
                            i.announcement.icon


                        // All the information about above listed tabs.
                        .tab-content.col-lg-12.col-md-12.col-sm-12.col-xs-12

                            // Timeline TAB
                            .tab-pane.fade#timeline.list-block.col-lg-12.col-md-12.col-sm-12.col-xs-12(role="tabpanel")

                                .timeline-post.input-timeline.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    include mixins/timeline/post-input

                                ul
                                    li.swipeout
                                        .timeline-post.swipeout-content.item-content.col-lg-12.col-md-12.col-sm-12.col-xs-12(data-toggle="modal", data-target="#timelineModal")
                                            include mixins/timeline/default-post

                                        .swipeout-actions-left
                                        .swipeout-actions-right

                                    li.swipeout
                                        .timeline-post.swipeout-content.item-content.col-lg-12.col-md-12.col-sm-12.col-xs-12(data-toggle="modal", data-target="#timelineModal")
                                            include mixins/timeline/default-post

                                        .swipeout-actions-left
                                        .swipeout-actions-right



                            // Jobs & Education TAB
                            .tab-pane.fade.in.active#jobs.col-lg-12.col-md-12.col-sm-12.col-xs-12(role="tabpanel")

                                // JOBS
                                .jobs-container
                                    .job.life-experience.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        include mixins/jobs/default-job

                                    .job.life-experience.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        include mixins/jobs/job-aspire

                                    .job.life-experience.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        include mixins/jobs/job-kaiser

                                    .job.life-experience.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        include mixins/jobs/jobs-main-information

                                    .jobs-see.see-more.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        p + See more jobs

                                    .jobs-see.see-less.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        p - See less jobs


                                // EDUCATION
                                .education-container
                                    .education.life-experience.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        include mixins/educations/education-policy

                                    .education.life-experience.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        include mixins/educations/education-electrical

                                    .education.life-experience.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        include mixins/educations/education-main-information

                                    .education.life-experience.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        include mixins/educations/education-main-information

                                    .educations-see.see-more.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        p + See more education

                                    .educations-see.see-less.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        p - See less education


        // jQuery 3.1.1
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

        // jQuery UI 1.21.1
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")

        // jQuery UI Monthpicker
        script(src="https://cdn.rawgit.com/lucianocosta/jquery.mtz.monthpicker/master/jquery.mtz.monthpicker.js")

        // BootstrapJS 3.3.7
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

        // Semantic UI JS
        script(src="https://cdn.rawgit.com/Semantic-Org/Semantic-UI-CSS/master/semantic.min.js")

        // Perfect Scrollbar jQuery JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.12/js/perfect-scrollbar.jquery.min.js")

        // Owl Carousel JS
        //- script(src="https://cdn.rawgit.com/OwlFonk/OwlCarousel/master/owl-carousel/owl.carousel.min.js")
        script(src="https://bbcdn.githack.com/shahzadns/owlfonk-owlcarousel/raw/31413692812896e19db89baee9be30b9d36d1e64/owl-carousel/owl.carousel.min.js")

        // Cropper jQuery JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.js")

        // Moment.JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js")

        // Bootstrap Date Time Picker
        script(src="https://cdn.rawgit.com/T00rk/bootstrap-material-datetimepicker/gh-pages/js/bootstrap-material-datetimepicker.js")

        // Framework7.JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.4.0/js/framework7.min.js")

        // Main JS file
        script(src="js/main.js")