doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        title Ethearnal

        // FAVICON
        link(rel="shortcut icon", type="image/png", href="images/favicon.png")

        // START of LINKS

        // Normalize.css
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css")

        // BootstrapCSS 3.3.7
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

        // Semantic UI CSS
        link(rel="stylesheet", href="https://cdn.rawgit.com/Semantic-Org/Semantic-UI-CSS/master/semantic.min.css")

        // Owl Carousel CSS
        link(rel="stylesheet", href="https://bbcdn.githack.com/shahzadns/owlfonk-owlcarousel/raw/31413692812896e19db89baee9be30b9d36d1e64/owl-carousel/owl.carousel.css")

        // Bootstrap Material Date and Time Picker
        link(rel="stylesheet", href="https://cdn.rawgit.com/T00rk/bootstrap-material-datetimepicker/gh-pages/css/bootstrap-material-datetimepicker.css")

        // Icons
        link(rel="stylesheet", href="styles/icons.css")

        // Flag icons
        link(rel="stylesheet", href="https://cdn.rawgit.com/lipis/flag-icon-css/master/css/flag-icon.min.css")

        // START of FONTS

        // Google Material Icons
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

        // Material Design Bootstrap
        link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")

        // Roboto
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i")

        // Montserrat
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800,900")

        // END of FONTS

        // Main CSS file
        link(rel="stylesheet", href="styles/main.css")

        // END of LINKS

    body

        include mixins/modals/job/add-job
        include mixins/modals/job/edit-job

        include mixins/modals/education/add-education
        include mixins/modals/education/edit-education

        include mixins/modals/portfolio/add-portfolio
        include mixins/modals/portfolio/edit-portfolio

        include mixins/modals/language/add-language
        include mixins/modals/language/edit-language

        include mixins/modals/add-skill
        include mixins/modals/edit-skill

        include mixins/modals/gig/add-gig
        include mixins/modals/gig/edit-gig
        include mixins/modals/gig/modal-gig

        include mixins/modals/edit-profile


        // Including header
        include mixins/header



        // Including {PROFILE} PAGE content
        include mixins/pages/profile



        // Including {GIGS} page content
        include mixins/pages/gigs

        // Including {PROFILES} page content
        include mixins/pages/profiles



        // jQuery 3.1.1
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

        // jQuery UI 1.11.2
        script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")

        // BootstrapJS 3.3.7
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

        // Semantic UI JS
        script(src="https://cdn.rawgit.com/Semantic-Org/Semantic-UI-CSS/master/semantic.min.js")

        // Owl Carousel JS
        script(src="https://bbcdn.githack.com/shahzadns/owlfonk-owlcarousel/raw/31413692812896e19db89baee9be30b9d36d1e64/owl-carousel/owl.carousel.min.js")

        // Moment.JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js")

        // Bootstrap Date Time Picker
        script(src="https://cdn.rawgit.com/T00rk/bootstrap-material-datetimepicker/gh-pages/js/bootstrap-material-datetimepicker.js")

        // Moment JS
        script(src="https://cdn.jsdelivr.net/npm/moment@2.19.1/moment.min.js")

        // Material Design Bootstrap
        script(defer src="https://code.getmdl.io/1.3.0/material.min.js")

        // Jquery Easing
        script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")

        // Main JS file
        script(src="js/main.js")


        // PROFILE AVATAR CROPPING / CHANGING
        //- // Cropper jQuery JS
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.js")