section.gigs-page-content

    .container

        .filters.col-md-3

            .filter
                p Category

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-1")
                    input#checkbox-1.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Development

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-2")
                    input#checkbox-2.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Mobile Development

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-3")
                    input#checkbox-3.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Graphic Design

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-4")
                    input#checkbox-4.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Content Writing

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-5")
                    input#checkbox-5.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Accountants

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-6")
                    input#checkbox-6.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Consultants

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-7")
                    input#checkbox-7.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Assistants


            .filter
                p Job Type

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-8")
                    input#checkbox-8.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Hourly

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-9")
                    input#checkbox-9.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Fixed Price


            .filter
                p Experience Level

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-10")
                    input#checkbox-10.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Entry Level

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-11")
                    input#checkbox-11.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Intermediate

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-12")
                    input#checkbox-12.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label Expert


            .filter
                p Budget

                .rkmd-slider.slider-continous.slider-shadow.slider-lightBlue.slider-light
                    input(type='range', min='0', max='100', value='65')


                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-13")
                    input#checkbox-13.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label <$100

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-14")
                    input#checkbox-14.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label $100 - $500

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-15")
                    input#checkbox-15.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label $500 - $1k

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-16")
                    input#checkbox-16.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label $1k - $5k

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-17")
                    input#checkbox-17.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label $5k - $50k

                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for="checkbox-18")
                    input#checkbox-18.mdl-checkbox__input(type="checkbox")
                    span.mdl-checkbox__label $50k+

        .gigs.col-md-9

            .gigs-container

                .gig
                    img(src="images/paypal.jpg", alt="Gig")
                    h5 by FirstName L.
                    p Gig Description

                    .footer
                        h4 Starting at <span>$25</span>