// Profile header, including profile image, current work, city, state and two buttons.
.profile-upper

    .profile-image(data-toggle="modal", data-target="#avatarModal")
        img(src="images/dobri.png", alt="Dobri Stoilov")
        .text-on-image: p Change

    //- h2 Dobri Stoilov
    //- h5.profile-information-position Founder at <strong>Ethearnal</strong>
    //- p Sofia, Bulgaria
    // Now... JSON data goes here. :(

    button.light-blue-background.hidden Connect
    button.orange-background Accept
    button.white-background Leave a Note

// Profile description including a description about you. (dark-gray section)
.profile-description
    // JSON data goes here.

// Profile top skills and tools
.profile-bottom
    p.skills-text Consolidated Skills and Tools
    i.material-icons keyboard_arrow_down

    .skills
        // JSON data goes here.

// Profile footer, including social media links.
.profile-footer
    ul.list-inline
        li: a(href=""): i.icon-facebook
        li: a(href=""): i.icon-twitter
        li: a(href=""): i.icon-r-s-s
        li: a(href=""): i.icon-instagram
        li: a(href=""): i.icon-google