.profile-headline {
    width: 100%;
    min-height: 400px;
    height: auto;
    padding-top: 84px;
    padding-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, rgba(89, 116, 165, 0.91) 30%, rgba(146, 168, 209, 0.32) 100%);
        opacity: 0.9;
    }
    .user-info-wrap {
        display: flex;
        padding-top: 40px;
        z-index: 10;
        position: relative;
        .user-avatar {
            width: 150px;
            height: 150px;
            display: inline-block;
            border: 3px solid #eee;
            box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            background-position: center;
            background-size: cover;
        }
        .user-info {
            padding-left: 20px;
            width: 750px;
            max-width: calc(100% - 150px);
            * {
                letter-spacing: 0.5px !important;
            }
            .editBtnProfile {
                &:focus {
                    color: #fff;
                }
            }
            .user-name {
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 0.5px;
                margin: 0;
                margin-bottom: 12px;
                color: #fff;
            }
            .user-role {
                line-height: 1.2;
                margin: 0;
                color: #fff;
                margin-bottom: 15px;
            }
            .user-item {
                margin-bottom: 5px;
                .item-title {
                    margin-right: 15px;
                }
                .item {
                    line-height: 24px;
                    border-radius: 4px;
                    border: solid 1px #fff;
                    padding: 0px 10px;
                    color: #fff;
                    margin-right: 5px;
                    margin-bottom: 10px;
                    display: inline-block;
                    transition: .3s;
                    cursor: pointer;
                    &:hover {
                        background-color: #e4ecfe;
                        color: #92a8d2;
                    }
                }
            }
            .user-description {
                color: #fff;
                line-height: 1.7;
            }
            .profile-social {
                .list-inline {
                    li {
                        margin-right: 25px;
                        a {
                            color: #e6eeff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 40px;
                            width: 40px;
                            transition: .3s;
                            border: 1px solid transparent;
                        }
                        &:hover {
                            a {
                                color: #ffffff;
                                border: 1px solid #e6eeff;
                                border-radius: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
    .bg-change {
        position: absolute;
        right: 40px;
        bottom: 60px;
        cursor: pointer;
        // box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.3);
        width: 120px;
        height: 120px;
        z-index: 888;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        display: none;
        // border: 1px solid #fff;
        margin-bottom: 10px;
        background-color: rgba(175, 190, 218, 0.2);
        opacity: 0.8;
        img {
            width: 100%;
        }
        @media (max-width: 998px) {
            display: none !important;
        }
        @media (max-width: 1099px) {
            bottom: 10px;
        }
    }
    &:hover {
        .bg-change {
            display: flex;
        }
    }
}

.inner-profile {
    background-color: #f6f7fb;
    .profile-documentation {
        margin-left: 0px;
        border-radius: 15px;
        .nav {
            li {
                a {}
            }
        }
    }
    .profile-documentation-full {
        margin-top: -30px;
    }
    .tab-pane {
        background-color: #fff;
        margin-top: 40px;
        box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.21), 0 5px 10px rgba(0, 0, 0, 0);
        border-radius: 15px;
    }
}

.gigs-profile-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
}

.disable-state {
    cursor: not-allowed;
    a {
        color: #eee;
        user-select: none;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.modal-btn-order {
    &:hover {
        background: #f7cac9;
        color: #fff;
        border-color: #ffc0c0;
    }
}

.cdn-details {
    h3 {
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .btn-primary {
        background-color: #d0e1ff;
        border-color: #d0e1ff;
    }
}

.btn-pink {
    background-color: #f7cac9;
    border-color: #f7cac9;
    color: #fff;
    &:hover {
        background-color: #fddcdb;
        border-color: #f7cac9;
        color: #fff;
    }
}

