.user-card {
    width: 240px;
    height: 441px;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    position: relative;
    max-width: 240px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: all 0.15s ease-in;
    z-index: 1;
    min-height: 441px;
    position: relative;
    &.gig {
        cursor: pointer;
    }
    .card-label {
        padding: 5px 15px;
        background-color: rgba(71, 156, 255, 0.74);
        position: absolute;
        top: 20px;
        left: -17px;
        line-height: 1;
        color: #fff;
        font-weight: 600;
        &:before {
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            background-color: transparent!important;
            border-style: solid;
            border-width: 0 1.2em 1.2em 0;
            border-color: transparent;
            border-right-color: #c2d7f1;
            width: 0;
            height: 0;
        }
    }
    .img-card {
        overflow: hidden;
        height: 130px;
        border-bottom: 1px solid #cecece;
        .btn-info-edit {
            position: absolute;
            right: 0;
            margin-top: 5px;
            margin-right: 5px;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }
    .user-profile-img {
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 50;
        width: 100%;
        margin-top: -40px;
        color: #eee;
        img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            border: 2px solid #fff;
            box-shadow: 0px 0px 5px #444343;
        }
    }
    .user-name {
        text-align: center;
        color: #000;
        font-size: 26px;
        padding-top: 55px;
        margin-bottom: 0px;
        line-height: 1;
        border-top: 1px solid #e2e2e2;
    }
    .user-role {
        color: #b1b1b1;
        font-size: 16px;
        text-align: center;
        margin-bottom: 0px;
    }
    .user-info {
        margin: 15px 20px;
        padding-top: 15px;
        border-top: 1px solid #f7cac9;
        min-height: 120px;
        max-height: 120px;
        .about {
            line-height: 1;
            color: #000;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .info {
            text-align: center;
            line-height: 1.4;
            display: -webkit-box;
            max-width: 400px;
            height: 114px;
            margin: 0 auto;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .user-price {
        position: absolute;
        top: calc(100% - 35px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #eee;
        background-color: #ffecec;
        position: absolute;
        bottom: 0;
        width: 100%;
        top: calc(100% - 35px);
        span {
            display: flex;
            align-items: center;
            i {
                margin-right: 5px;
            }
        }
    }
    .user-skills {
        text-align: left;
        padding: 0 20px;
        height: 55px;
        overflow: hidden;
        margin-top: 30px;
        .item {
            border-radius: 4px;
            border: solid 1px;
            padding: 4px 4px;
            line-height: 1;
            font-size: 10px;
            color: #92a8d2;
            border-color: #92a8d2;
            margin-right: 5px;
            margin-bottom: 5px;
            display: inline-block;
            transition: .3s;
            cursor: pointer;
            &:hover {
                color: #fff;
                border-color: #92a8d2;
                background-color: #92a8d2;
            }
        }
    }
    &:hover {
        // transform: scale(1.02);
        box-shadow: 3px 5px 9px 0 rgba(0, 0, 0, 0.1);
    }
    &.profile-user-card {
      cursor: pointer;
      padding-bottom: 20px;
    }
}

.fz-15 {
    font-size: 15px;
}

.preloader-card {
    width: 240px;
    height: 441px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 35px;
    }
}
