/* @author: hardc0d3 */

.none {
    display: none;
}

.lefty {
    float: left;
}

.righty {

    float: right;
}

.wide {
    width: 100%;
}

.pink {
    background-color: pink;
}

.rose {
    background-color: #ffecec;
}

.red {
    background-color: #f7cac9;
}


.clr-red {
    color: #f7cac9;
}


.sun {
    background-color: #e6eeff;
}

.sea {
    background-color: #92a8d1;
}

.sky {
    background-color: #d0e1ff;
}

div#intro-headline {
    width: 100%;
    height: 200px;
    float: left;
    background-color: #495568;

}

.ert-logo {

 display: block;
 width: 39px;
 height: 39px;

 background-image: url('assets/images/logo_ethearnal.png');

 background-repeat:no-repeat;
 background-position: center center;
 background-size: 39px 39px;

}


.main-ctx-outer {
   width: 100%;
   float: left;

}

.main-ctx-inner {


    margin-left: auto;
    margin-right: auto;

}

.intro-canvas {
height: 200px;
display: block;
top: 0;
left: 0;
position: absolute;
z-index: -1;
}

/*
.shadow {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.shadow{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

*/
.intro-footer {
     background: gray;
     float: left;
     width: 100%;
     height: 4px;
}

.nav-header-style {
    float: left;
    width: 100%;
    background: #fff;
    height: 79px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

av-sub-header-style {
    height: 40px;

}

/* <gig-box> */
.gig-box-gr {
    float: left;

    width: 222px;
    height:  358px;
    margin: 3px;

    background: white;
    border: solid 1px gray;
    border-radius: 3px;
}

.gig-box {
    float: left;

    width: 272px;
    height: 310px;
    margin: 3px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;

    background: white;
    border: solid 1px gray;
    border-radius: 3px;
}


#people-s-box{
   float:left;
   width: 30px;
   height:20px;
   background: blue;
}

#gigs-s-box{
   float:left;
   width: 30px;
   height:20px;
   background: pink;
}


.right-section {
    float: right;
    margin-right:30px;
    margin-top: 12px;
}


#search-box-item {
    padding-left: 13px;
    padding-top: 13px;
}

.box-spacer {
    width: 100%;
    float: left;
    height: 222px;
    background-color: gray;
}
/* </gig-box> */

.ert-sticky {
  position: fixed;
  top: 0;
 /* width: 100%;*/
}

.ert-row {
    position: absolute;
}

/* Create three unequal columns that floats next to each other */
.ert-column {
    float: left;
    padding: 10px;
   /* height: 300px; *//* Should be removed. Only for demonstration */
}

.ert-left, .ert-right {
  width: 25%;
}

.ert-middle {

  width: 50%;
}

/* Clear floats after the columns */
.ert-row:after {
    content: "";
    display: table;
    clear: both;
}

/* </sticky-navbar> */

/* typography */

#sticky-navbar > div {
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 500;

}