altgraph==0.14
avatar-generator==0.0.13
bson==0.5.0
certifi==2017.7.27.1
chardet==3.0.4
cheroot==5.8.3
CherryPy==11.0.0
decorator==4.1.2
enum-compat==0.0.2
future==0.16.0
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
lxml==4.1.0
macholib==1.8
miniupnpc==2.0.2
netdisco==1.2.2
netifaces==0.10.6
olefile==0.44
parso==0.1.0
pefile==2017.9.3
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
portend==2.2
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.3.7
pycparser==2.18
Pygments==2.2.0
PyInstaller==3.3
python-dateutil==2.6.1
pytz==2017.2
randomavatar==0.5.1
requests==2.18.4
rsa==4.7
simplegeneric==0.8.1
six==1.11.0
sqlitedict==1.5.0
tempora==1.9
traitlets==4.3.2
uPnPClient==0.0.4
urllib3==1.22
wcwidth==0.1.7
zeroconf==0.19.1
