.gigs-container-orders

    .gig.content-block(data-toggle="modal", data-target="#gigModal")
        button#dropdowngiga0.mdl-button.mdl-js-button.mdl-button--icon.dropdown-button: i.material-icons more_vert
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="dropdowngiga0")
            li.mdl-menu__item.open-modal(open-modal="#edit-gig") Edit
            li.mdl-menu__item.delete Delete

        .ui.fluid.image
            .ui.black.ribbon.label Category
            .image-block: img(src="images/paypal.jpg")

        .owner-info
            img(src="http://via.placeholder.com/24x24", alt="Avatar")
            h5 owner_nickname
            h4 Entry Level

        p Gig Description

        .lower-info
            .reputation
                i.material-icons polymer
                span 5k+

            h6.expire expires in 5 mins

        .footer
            h4 Starting at <span><i class="material-icons">polymer</i>25</span>