.jobs-container

    //- .jobs-see.see-more.col-xs-12
    //-     p + See more jobs

    //- .jobs-see.see-less.col-xs-12
    //-     p - See less jobs


.education-container

    //- .educations-see.see-more.col-xs-12
    //-     p + See more education

    //- .educations-see.see-less.col-xs-12
    //-     p - See less education


.languages-container

    //- .languages-see.see-more.col-xs-12
    //-     p + See more languages

    //- .languages-see.see-less.col-xs-12
    //-     p - See less languages

.skills-container